div.container {
    margin: 0 auto;
    max-width:90%;
}
div.header {
    margin: 50px auto;
    line-height:10px;
    max-width:90%;
}
body {
    background: #f7f7f7;
    color: #333;
    font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Verdana,Arial,Helvetica,sans-serif;
}
.control-label {
    text-align: left !important;
}